<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
@{
    ViewData["Title"] = "Index";
}
<button type="button" onclick="ajax1()">$.ajax 1</button>
<button type="button" onclick="post1()">$.post 1</button>
<form method="post" action="a/b?type=form" enctype="application/x-www-form-urlencoded">
	<input id="name" name="name" />
	<select id="city" name="city">
		<option value="1">تبریز</option>
		<option value="2">تهران</option>
		<option value="3">اصفهان</option>
	</select>
	<button type="submit">ارسال</button>
</form>
<div id="result">

</div>
<script>
	function ajax1() {
		$.ajax({
			url: '/ctrl/action?xyz=200',
			data: { id: 1 ,name:'yashar'},
			dataType: 'json',
			method:'POST',
			success: function (result) {
				$('#result').html(result);
			}
		});
	}
	function post1() {
		$.post({
			url: '/ctrl/action?xyz=200',
			data: { id: 1, name: 'yashar' },
			success: function (result) {
				$('#result').html(result);
			}
		});
	}
</script>