@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<button type="button" class="w3-amber w3-btn" onclick="ajax1()">$.ajax 1</button>
<button type="button" onclick="post1()">$.post 1</button>
<form method="post" action="/TestModule/Test/SayMyName" enctype="application/x-www-form-urlencoded">
	<input id="Name" name="Name" placeholder="Name..." />
	<input id="Age" name="Age" type="number" placeholder="Age..." />
	<button type="submit">ارسال</button>
</form>

<hr />
@foreach (var widget in ViewBag.Widgets)
{
	@(await Component.InvokeAsync("HomeWidgets", new { packageName = "testmodule", viewComponentName = widget}))
}
<hr />

<div id="result">

</div>
<script>
	function ajax1() {
		$.ajax({
		url: '/TestModule/Test/WithModel',
			data: {
			d: {
				Name: "احسان",
					Age: 15
				}
			},
			dataType: 'json',
			method: 'POST',
			success: function (result) {
				$('#result').html(result);
			}
		});
	}
	function post1() {
		$.post({
		url: '/TestModule/Test/WithModel2',
			data: {
			d: [
					{ Name: "Farhad", Age: 22 },
					{ Name: "Behzad", Age: 11 }
				]
			},
			success: function (result) {
				$('#result').html(result);
			}
		});
}
</script>