@model dynamic
@using ModuloContracts.MVC
@{ 
	Layout = Html.GetAreaLayout();
}
<ul>
	@foreach (var item in Model)
	{
		<li>@item.DiagramName - @item.GoodsFamilyName - @item.GoodsGroupName</li>
	}
</ul>